{% extends 'home.html' %}
{% block content %}
<h3>Welcome {{ username }} to the Hamlet Tennis Court Scheduler</h1>
    <h5>Why did we create this project?</h5>
    <p>
        The reason we have created this project was to help save lives in our community. Yes it may seem dramatic however it is
        true. Due to the recent pandemic going around (COVID-19) as we all know it is very scary and it is getting scarier and
        scarier every day. And due to
        the recent lockdown order issued around Michigan we decided to create a Scheduler where people can real-time chat with
        whoever they want that also uses our application to decide when they want to use the courts and when not to. So
        that there aren't so many people arguing and not maintaining social distancing just fighting over who has the courts.
    </p>
    <hr>
    <h5>How Long Did It Take Us?</h5>
    <p>This took us around 30 hours to complete non-stop and with limited air conditioning</p>
    <h5>Who were the creators of this project?</h5>
    <hr>
    <p>
        <ul>
            <li>Kalp Shah --> 8th Grade</li>
            <li>Suraj Makunur --> 8th Grade</li>
            <li>Pranav Merugu --> 9th Grade</li>
            <li>Pawan Ramayanam --> 8th Grade</li>

        </ul>
    </p>
    <hr>
{% endblock %}
